@import "variables";
@import "header";

.contact button {
  background: $primaryBtn;
}

.contact {
  // @include flexCenter(row, lightgreen);
  @extend header;
  background: lightcoral;
  width: 100% - 20%; // can do math
}
