* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #dcf5ff;
  margin: 0;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Nunito", "sans-serif";
}

.container {
  width: 30%;
  background: white;
  border-radius: 10px;

  .inner {
    background: rgb(7, 218, 165);
    border-radius: 10px;
    width: 100%;
    padding: 20px;

    // clip-path: circle(90% 0%);
    clip-path: inset(0% 0% 0% 100%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    // &:hover {
    //   clip-path: circle(75%);
    //   background: #00b6ff;
    // }

    // span {
    //   float: right;
    //   color: white;
    //   font-weight: bold;
    //   transition: color 0.5s;
    //   position: relative;
    //   margin-right: 5%;
    //   margin-top: 3%;
    // }

    // &:hover span {
    //   color: rgba(0, 0, 0, 0);
    // }

    h1 {
      color: white;
      margin: 0;
    }

    p {
      color: white;
    }
  }
  &:hover .inner {
    clip-path: inset(0% 0% 0% 0%);
  }
}
