*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1{
 background: #ffb6b9;
}

.box2{
    background: #fae3d9
}

.box3{
    background: #bbded6;
}

main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "box1 box2"
    "box3  box3";

}

.box1{
    grid-area: box1;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.box2{
    grid-area: box2;
    justify-self: start;
}

.box3{
    grid-area: box3;
}