$background: rgb(0, 0, 0);
$titleFontColor: #fefeff;
$secondaryFontColor: #da9aff;
$buttonGradient1: #410067;
$buttonGradient2: #000000;
$buttonShadow: #4f0d75;
$borderColor: #707070;
$keyBorderColor: #ff7b7b;
